

.CamisaB {
    position: absolute;
    width: 250px;
    height: 350px;
    transition: transform 0.2s ease;
    cursor: pointer;
}
 .ZImagePreview {
    width: 120px;
    height: 120px;
    border: 0.2vh solid rgb(223, 223, 223);
    border-radius: 10px;
    background-color: white;
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: 0vh;
    background-position: center;
    position: relative;
    display: block;
 }

  .ZImagePreview:hover {
    border: gray solid 0.2vh;
 }

 #atributosContainer {
    position: relative;
    width: 270px;
    height: 275px;
 }

 #PageCenter{
  max-width:1200px;
  margin:0 auto;
}

 #MediumStarContainer {
    display: inline-block;
 }

 .AtributosBarra {
    position: relative;
    background-color: gray;
    border-radius: 0.5vh;
    width: 47.5px;
    height: 10px;
    display: inline-block;
    margin-left: 6px;
    transition: 160ms;
}

 #ZImagePreviewContainer {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 175px;
    gap:5px
 }

 #Container-Product {
    display: flex;
    margin-left: 80px;
    width: 100%;
    margin-top: 50px;
 }



.InicialOfertaText {
    text-align: right;
    font-size: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}

.InicialOferta {
    background-color: #fafafa;
    border: rgba(173, 190, 190, 0.595) solid 0.25vh;
    width: 35vh;
    height: 6.5vh;
    border-radius: 1vh;
    display: inline-block;
    position: relative;
    margin-top: 1%;
    margin-left: 5%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#Medium {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    display: inline-block;
}
#percent {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    display: inline-block;
}

#MediaEntre {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 400;
    display: inline;
    position: relative;
}

#dosclientes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    font-size: 13px;
    font-weight: 400;
    display: inline;
    position: relative;
}

.Slider {
    background-color: rgba(128, 128, 128, 0.751);
    width: 100%;
    height: 1.5vh;
    border-radius: 10vh;
    align-items: center;
}

.AtributoTextType {
    font-size: 1.75vh;
    font-weight: 300;
    color: #767676;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-right: 11vh;
    text-align: center;
}

#Avaliaçõesbutton {
    position: relative;
    width: 200px;
    height: 30px;
    border-radius: 10vh;
    background-color: rgb(251, 251, 251);
    border: solid rgba(0, 0, 0, 0.514) 0.175vh;
    transition: 100ms;
    right: -40px;
}

#BigBox {
    position: relative;
}

.StarRate {
    width: 7.5vh;
    height: 7.5vh;
    display: inline-block;
    cursor: pointer;
    position: relative;
    right: -32vh;
    transition: 100ms;
}

.StarRate:hover {
    transform: scale(1.1);
}

.AtributoTextContainer {
    width: 60vh;
    height: 10vh;
    right: -39vh;
    position: relative;
}

.AtributoText {
    color: gray;
    font-size: 2.4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    position: relative;
    right: -0vh;
    top: -1vh;
    display: inline-block;
    margin-left: 0vh;
    text-align: center;
}

.StarRate:hover {
    opacity: 0.5;
}

#ButtonClear {
    width: 15vh;
    height: 3vh;
    background-color: white;
    position: relative;
    right: -30vh;
    border: solid black 0.1vh;
    border-radius: 5vh;
    cursor: pointer;
}

#ButtonClear:hover {
    transition: 300ms;
    background-color: rgb(247, 247, 247);
}

#AvalieTitulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 11px;
}

#Avaliaçõesbutton:hover {
    border: solid rgb(0, 152, 175) 0.175vh;
    cursor: pointer;
}

.AtributoTextTypeUlt {
    font-size: 1.75vh;
    font-weight: 300;
    color: #767676;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

.BarSlider {
    background-color: rgb(0, 0, 0);
    width: 10vh;
    height: 1.5vh;
    border-radius: 10vh;
    position: relative;
}

.Atributotitulo {
    font-size: 2.25vh;
    font-weight: 400;
    color: #2f2f2f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BarSliderContainer {
    width: 40vh;
    height: 7.5vh;
    margin-top: 5vh;
}

.Destaques {
    background-color: #fbfbff;
    width: 260px;
    height: 360px;
    position: relative;
    display: inline-block;
    border-radius: 1.25%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: rgb(255, 255, 255) solid 10px;
}
.DestaquesPadding {
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 250px;
    margin-top: 91%;
    border-radius: 1.25%;
    display: inline-block;
    position: absolute;
    text-align: left;
    font-size: 20px;
    color: #000000c0;
    border: rgb(255, 255, 255) solid 10px;
}
.DestaquesImage {
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 250px;
    margin-top: 0%;
    border-radius: 1.25%;
    display: inline-block;
    position: absolute;
    text-align: left;
    font-size: 125%;
    color: #000000c0;
    border: rgb(255, 255, 255) solid 10px;
}
.MenuTemplate {
    position: relative;
    height: 60px;
    width: 100%;
}
#MenuIframe {
    border: solid black 0px;
    width: 1800px;
    height: 125px;
    position: absolute;
    z-index: 2000;
    display: block;
 }

 #MenuIframeFixed {
    width: 1600px;
    height: 70px;
    position: fixed;
    z-index: 2000;
    display: none;
    top: 0;
 }
 
#Icon {
    width: 190px;
    height: 50px;
    position: relative;
    z-index: 1004;
    cursor: pointer;
    display: inline-block;
   }

.Categorias {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10%;
    display: inline-block;
    cursor: pointer;
    transition: 300ms;
    font-size: 7.5px;
    color: #000000b4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Categorias:hover {
    text-decoration: underline;
    color: black;
}

.CamisaB:hover {
    transform: scale(1.1);
}

#BackgroundP {
    position: fixed;
    top: 0;
    right: 0;
    width: 1700px;
    height: 1000px;
    background-color: #fafafa;
    z-index: -1;
}

#Banner {
    position: relative;
    display: block;
    width: 80%;
    border-radius: 1vh;
    margin-left: 12%;
    margin-top: 1%;
    cursor: pointer;
    transition: 1000ms;
}
.Desconto {
    font-size: 15px;
    text-decoration: line-through;
    color: #0000006f;
}
.Preço {
    font-size: 20px;
    position: relative;
}

form {
    width: 100%;
}


.agdasima-regular {
    font-family: 'Agdasima', sans-serif;
    font-weight: 400;
}

.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
}


#title {
    font-size: 12px;
    width: 400px;
    height: 100px;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#Container-ProductInfo {
    width: auto;
    margin-left: 20px;
}

#Rate {
    font-size: 35px;
    text-align: left;
    position: relative;
    border-radius: 20px;
    font-family: "Urbanist", sans-serif;
}
.Urbanist {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Preco {
    font-size: 3.5vh;
    width: 40vh;
    height: 70px;
    position: relative;
    top: 2vh;
    left: 113vh;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#descripition {
    width: 400px;
    height: 190px;
    background-color: white;
    border: 4px solid black;
    position: absolute;
    top: 420px;
    left: 880px;
    border-radius: 20px;
}

.CorSelecionar {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border: solid rgb(181, 181, 181) 0.05vh;
    display: inline-block;
    transition: 100ms;
    position: relative;
    cursor: pointer;
}

#DescriçãoTitulo {
    position: relative;
    font-size: 22.5px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 100px;
}

#Descrição {
    color: rgba(0, 0, 0, 0.795);
    font-size: 15px;
    position: relative;
    width: 1200px;
    max-width: 100%;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.AtributosBarraAvaliar {
    position: relative;
    background-color: gray;
    border-radius: 0.5vh;
    width: 11vh;
    height: 2.5vh;
    display: inline-block;
    margin-left: -0.3vh;
    cursor: pointer;
    transition: 160ms;
}

.AtributosBarraAvaliar:hover {
    background-color: rgb(103, 103, 103);
    transform: scale(1.02)
}

.AtributoContainer {
    background-color: none;
    position: relative;
    width: 100%;
    height: 30vh;
}

.AvaliaçõesTitulo {
    position: relative;
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#Avaliações {
    min-height: 20px;
    position: relative;
    display: inline-block;
    margin-top: 91px;
    margin-left: 60px;
    max-width: 100%;
}

.Box {
    min-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

#AvaliaçõesMedia {
    width: auto;
    min-width: 300px;
    min-height: 20px;
    position: relative;
    display: inline-block;
    margin-top: 50px;
}

#AvaliaçõesGeral-container {
    display: inline-flex;
}

.Especificações {
    color: rgba(0, 0, 0, 0.795);
    font-size: 14px;
    position: relative;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    max-width: 100%;
    height: 10px;
    }

.Especificações-box {
    width:340px;
    margin-right: 100px;
    }

#Especificações-container {
    display: flex;
}

.CorSelecionar:hover {
    transform: scale(1.1);
    border-radius: 10%;
    border: solid rgb(0, 180, 189) 0.05vh;
    display: inline-block;
    z-index: 10000;
}

.TamanhoSelecionar {
    width: 32.5px;
    height: 32.5px;
    border-radius: 20%;
    border: solid rgb(181, 181, 181) 0.05vh;
    display: inline-block;
    cursor: pointer;
    color: rgb(51, 51, 51);
    transition: 100ms;
    position: relative;
}

.TamanhoSelecionar:hover {
    border: solid rgb(0, 171, 209) 0.05vh;
    color: rgb(0, 171, 209);
}

.TamanhoTexto {
    text-align: center;
    display: block;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 15px;
    cursor: pointer;
}

#CoresContainer {
    position: relative;
    width: 300px;
}

#TamanhoContainer {
    position: relative;
    width: 300px;
}

.Divisoria {
    width: 90%;
    display: inline;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.099);
    height: 0.25vh;
    top: 107vh;
    margin-left: 10vh;
}

.zoom-container {
    position: relative;
    display: inline-block;
    width: 450px;
    height: 500px;
    overflow: hidden;
    border-radius: 2vh;
    border: solid rgb(185, 185, 185) 0.2vh;
    cursor: zoom-in;
}

#buy {
    position: absolute;
    top: 600px;
    right: 280px;
    width: 300px;
}


.zoom-image {
    display: inline-block;
    position: relative;
    margin-top: -2vh;
    width: 100%;
    height: 100%;
    background-image: url('shirt teste.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    transition: background-size 0.1s, background-position 0.1s;
}

.zoom-container:hover .zoom-image {
    background-size: 200%;
}

#IframeAvaliação {
    width: 120vh;
    height: 90vh;
    position: fixed;
    top: 5vh;
    right: 45vh;
    border-radius: 1vh;
    z-index: 10000;
    display: none;
    border: none;
}

#Darker {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.64);
    right: 0vh;
    top: 0vh;
    z-index: 9990;
    display: none;
}

#Iframe_X {
    position: fixed;
    height: 2vh;
    width: 3.5vh;
    right: 49vh;
    top: 3vh;
    z-index: 11000;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    align-items: center;
}

#Iframe_X:hover {
    transition: 100ms;
    color: gray;
}

.IconsDiv {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.IconsImg {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 100ms;
}

.IconsImg:hover {
    transform: scale(1.01);
}

#IconsContainer {
    position: relative;
    margin-left: 50px;

}


#Menu2 {
    width: 1100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#MainMenu {
    display: inline-flex;
}

.InicialOfertaImage {
    width: 4vh;
    height: 4vh;
    display: inline-block;
    text-align: left;
}

#SearchIcon {
    position: relative;
    width: 35px;
    height: 35px;
    text-align: right;
    cursor: pointer;
    display: inline-block;
    right: 50px;
    margin-top: 5px;
    z-index: 101;
    transition: 200ms;
}

#SearchContainer {
    display:flex;
  align-items:center;
}

#SearchBar {
    height: 12.5px;
    position: relative;
    z-index: 100;
    font-size: 12.5px;
    margin-left: 100px;
    border-radius: 4px;
    border: 2px solid #00000067;
    background-color: rgba(215, 229, 229, 0.041);
    display: inline-flex;
}

#SearchBarForm {
    width: 700px;
    height: 100px;
    display: inline-flex;
}

#SearchIcon:hover {
    transform: scale(1.05);
    background-color: gray;
}

#Aside {
    position: fixed;
    top: 181px;
    right: 1360px;
    width: 200px;
    height: 1000px;
    background-color: #f5f5f5;
    z-index: 1000;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    transform: translate(-50%, -50%);
    z-index: 1300;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 9.5vh;
    border-radius: 2.5vh;
    border: 2px solid #00000067;
    margin-bottom: 14%;
    background-color: rgba(215, 229, 229, 0.041);
}

#AsideIframe {
position: fixed;
top: 180px;
right: 1320px;
z-index: 2000;
width: 200px;
height: 540px;
}

#Aside {
    position: fixed;
    top: 0px;
    right: 20px;
    width: 200px;
    height: 1000px;
    background-color: #f5f5f5;
    z-index: 1000;
    border: none;
}

#Ofertas, #Masculinos, #Femininos {
    position: fixed;
    z-index: 1004;
    transition: transform 0.2s ease;
    right: 20px;
}

#Ofertas:hover, #Masculinos:hover, #Femininos:hover {
    transform: scale(1.1);
}

#Ofertas { top: -15px; }
#Masculinos { top: 40px; }
#Femininos { top: 95px; }

